@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.carousel-item {
    width: 100%;
    height: 100%;
}